<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome !</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <style>
body{
      background-image: url("/static/img/guard.jpg");
      background-size :cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
    p,
    ul {
      font-family: Arial, Helvetica, sans-serif;
      font-size: x-large;
      letter-spacing: 3px;
      font-style: oblique;
      line-height: 150%;
    }
  </style>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style='font-size: 40px;'>PATREC</a>
        
    
      
      <div>
        
       <a class="navbar-brand" href="/back"> GO TO DASHBOARD </a> &nbsp;&nbsp;&nbsp;&nbsp;   

        <a class="navbar-brand" href="/logout">LOGOUT </button></a>
      </div>
    </nav>
     

  
  <br>

 <center> <b><h1>Add Guardian Account</h1></b></center>
  
  <br><br>
  <center>
<!--
  <div class='container'>
      <div class='col'style='box-shadow: 40em;'>
          <br><br>
          <center>
            <div class="card" style="width: 20rem; height: 25rem;box-shadow: 40em;;">
              <!--<img src="/static/img/secure.jpg" class="card-img-top" alt="..." height='300' width='300'>
              <div style="font-size: 200px;"><i class="fa fa-medkit fa-x-large" aria-hidden="true" ></i></div>

            </div>
          </center>
        </div>

  </div>
-->
<br><br>
  <div class="card-w-50">
    
    <form action='/addguardian' method="POST">
    <div class="card-body">
      <h5 class="card-title">
      GUARDIAN ID&nbsp;&nbsp;&nbsp;<input class="card-text" name='guardian' required></input>
  
      <br><br>
      
        GUARDIAN LEVEL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <select name="level">
            <option value="VIEW">View Only</option>
            <option value="SHARE AND VIEW">Complete Access</option>
            
          </select> 
      </h5>
      <input type="hidden" name="owner" value={{ session['user'] }}>
      
    </div>

    <div class="card-footer text-muted">
        <button type="submit" class="btn btn-warning">&nbsp;&nbsp;Link&nbsp;&nbsp; </button>
    </div>
  </form>
  </div>
</center>
  
  
  
</body>
</body>

</html>