<html>
<head>
	<title> NEW POST </title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="hello">




	 <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>MEDBLOG</font></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
    </ul>
  </nav>

  <div class="container">
    <div class="container">
    {% for p in posts %}
      <div class="jumbotron">
           <h1 class="display-4"> {{ p.title }} </h1>
  
              
              <hr> 
                <p> {{ p.content}} </p>
                <p> <b> REFERENCES :</b> {{ p.url }} </p>
    
                 <hr class="my-2">
                 <p>  POSTED ON <b> {{ p.time }} </b></p>
                 <p> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like   
                 <i class="fa fa-thumbs-down" aria-hidden="true"></i> Dislike </p>
          </div>
    {% endfor %}
  </div>
  </div>


</body>

<style>
    #hello{
      padding :10px;
    background: url("https://wallpapersite.com/images/pages/pic_w/9577.jpg");
    background-repeat: no-repeat;
    background-size:  5000px;
    }
  

  </style>
</html>
