<html>
<head>
	<title>intro</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
	<style>
		
	
		body{
		  background-image: url("/static/img/avail.jpg");
		  background-size : 100%;
		  background-attachment: fixed;
		  background-repeat: no-repeat;
		}
	
	</style>
</head>

<body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="/" style='font-size: 40px;'>PATREC</a>
	
	
	
		<div>
	
		  <a class="navbar-brand" href="/logout">LOGOUT </button></a>
		</div>
	  </nav>
	  <br><br><br><br><br><br>
	<div class="container">
	

    



  <section id="gallery">
		<div class="container">
			<div class="row">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="col-lg-4">
					<div class="card-w-50">
						<img class="card-img-top"
							src="https://www.pngitem.com/pimgs/m/42-422830_doctor-physician-md-medical-practitioner-clinician-doctor-clipart.png"
							width="50" height="200">
						<div class="card-body">
							<h3 class="card-title"><b>FIND A DOCTOR </b></h3>
							<a href="/formdis" class="btn btn-primary btn-lg">PROCEED</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card-w-50">
						<img class="card-img-top"
							src="https://www.clipartkey.com/mpngs/m/244-2444987_make-an-appointment-book-appointment-icon-png.png"
							width="50" height="200">
						<div class="card-body">
							<h3 class="card-title"><b> BOOK APPOINTMENTS</b></h3>
							<a href="/knowndoctor" class="btn btn-primary btn-lg">PROCEED</a>
						</div>
					</div>
				</div> 
			</div>
		</div>
	
</div>
</body>
</html>
