<html>

<head>

	<section id="header" class="jumbotron text-center">
		<h1 class="display-6"> .</h1>
		
		<a href="/organ_donor" class="btn btn-info"> GET DONOR CARD </a>
		<a href="/viewmore" class="btn btn-primary"> VIEW MORE </a>
	</section>

	<section id="gallery">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<img class="card-img-top"
							src="https://image.shutterstock.com/image-vector/woman-patient-icon-medical-healthcare-260nw-553607458.jpg"
							alt="">
						<div class="card-body">
							<h3 class="card-title"><b>PATIENT LOGIN</b></h3>
							<a href="/patientlog" class="btn btn-primary btn-lg">PROCEED</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card">
						<img class="card-img-top"
							src="https://image.shutterstock.com/image-vector/doctor-icon-physician-stethoscope-medical-260nw-282018425.jpg"
							alt="">
						<div class="card-body">
							<h3 class="card-title"><b> DOCTOR LOGIN</b></h3>
							<a href="/doclog " class="btn btn-primary btn-lg">PROCEED</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card">
						<img class="card-img-top"
							src="https://image.shutterstock.com/image-vector/hospital-icon-vector-medical-ugd-260nw-1476901874.jpg"
							alt="">
						<div class="card-body">
							<h3 class="card-title"><b>ADMIN LOGIN</b></h3>
							<a href="/adminlog" class="btn btn-primary btn-lg">PROCEED</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

	<style>
		#header {
			background: url("https://image.shutterstock.com/image-vector/heart-pulse-cardiogram-vector-illustration-260nw-698144956.jpg");
		}
	</style>
</head>

<body>

</body>

</html>