<html>
<head>
  <title>hospital login</title>
  <script type="text/javascript">
  </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>

<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<style>
    #header{
      background: url("https://media1.thehungryjpeg.com/thumbs/800_3639784_35cel3qtlex138d11c167kaekiemz7gczpi3n59k.jpg");
    }
  </style>

  <style>
  .display-4{
      color: #FFFFFF;
  }
</style>

</head>

<body>
  <body class="bg">
  <nav class="navbar bg-dark navbar-dark">
    <div class="container">
      <a href="/" class="navbar-brand"><b>HOME</b></a>
    </div>
  </nav>

  <section id="header" class="jumbotron text-center">
    <h2 class="display-4">LOGIN TO ACCESS PATREC-CHAIN</h2>
  </section>

  <form action='/admindash'>
  <div class="container">
   <div class="d-flex justify-content-center align-items-center container ">  
          <div class="form-group">
            <label for="AID">ADMIN ID</label>
            <input type="text" class="form-control" id="AID">
          </div>
          <div class="form-group">
            <label for="pwd">PASSWORD</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          
        <div class="container">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
            <button type="button" class="btn btn-info">RESET</button>
        </div>
</form> 
</body>
</html>