<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Patrec Chain</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medicinal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />	
<link rel="stylesheet" href="css/slider.css">
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/web-font-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>


</head>
<body>
<!--start-home-->

<div class="main-header" id="house">
			<div class="header-strip">
			   <div class="container">
				<p class="location"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href=""><b>patrecchain.com</b></a></p>
				<!--<p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></p>
				<div class="social-icons">
					<ul>					
						<li><a href="#"><i class="facebook"> </i></a></li>
						<li><a href="#"><i class="twitter"> </i></a></li>
						<li><a href="#"><i class="google-plus"> </i></a></li>	
						<li><a href="#"><i class="dribble"> </i></a></li>										
					</ul>
					
				</div> -->
				<div class="clearfix"></div>
			</div>
			</div>
				<div class="clearfix"></div>
			</form>
		</div>
	</div>
		<!--header-top-->
			<div class="header-top">
			  <div class="container">
					 <nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
						<div class="logo">
							<h1><a class="navbar-brand" href="index.html"><span style="font-family:Bookman Old style";>P</span><font style="font-family:Bookman Old style";>atrec<img src="images/logo.png" alt=" " /></a></h1>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						  <div class="top-menu">
							<nav class="menu menu--francisco">
									<ul class="nav navbar-nav menu__list">
										<li class="menu__item menu__item--current"><a href="index.html" class="menu__link"><span class="menu__helper" tyle="font-family: Candara";><font size="4">Home</font></span></a></li>
										<li class="menu__item"><a href="index.html" class="menu__link"><span class="menu__helper" tyle="font-family: Candara";> <font size="4">About Us</font></span></a></li>
										<li class="menu__item"><a href="gallery.html" class="menu__link"><span class="menu__helper" tyle="font-family: Candara";> <font size="4">Departments</font></span></a></li>
										<li class="menu__item"><a href="contact.html" class="menu__link"><span class="menu__helper" tyle="font-family: Candara";><font size="4">Help Line</font></span></a></li>
									</ul>
								</nav>
							</div>
					</div>
					<!-- /.navbar-collapse -->
				</nav>

			   <div class="clearfix"></div>
			</div>
	</div>
<!--//header-top-->
 <!-- //Line Slider -->
	 <div class="top_banner">
		<!-- SVG Arrows -->
		<div class="svg-wrap">
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-left" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
			</svg>
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-right" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
			</svg>
		</div>
		
		<div class="sleekslider">
			<!-- Slider Pages -->
			<div class="slide active bg-1">
				<div class="slide-container">
					<div class="slide-content">
						<p>Welcome to Patrec Chain<span class="s-p"></span>!</p>	
					</div>

				</div>
			</div>
			<div class="slide bg-2">
				<div class="slide-container">
					<div class="slide-content">
						<p>Your medical details <span class="s-p"></span></p>	

					</div>
				</div>				
			</div>
			<div class="slide bg-3">
				<div class="slide-container">
					<div class="slide-content">
						<p> are secured<span class="s-p"></span></p>	

					</div>
				</div>				
			</div>
			<div class="slide bg-4">
				<div class="slide-container">
					<div class="slide-content">
					<p>&nbsp here<span class="s-p"></span>!</p>		

					</div>
				</div>				
			</div>
			<div class="slide bg-5">
				<div class="slide-container">
					<div class="slide-content">
					<p>Explore to know more<span class="s-p"></span>!</p>	

					</div>
				</div>				
			</div>

			<!-- Navigation Arrows with Thumbnails -->
			<nav class="nav-split">
				<a class="prev" href="">
					<span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-left" /></svg></span>
					<div>
						<h3>test</h3>
						<img alt="Previous thumb"/>
					</div>
				</a>
				<a class="next" href="">
					<span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-right" /></svg></span>
					<div>
						<h3>test</h3>
						<img alt="Next thumb"/>
					</div>
				</a>
			</nav>

			<!-- Pagination -->
			<nav class="pagination">
				<span class="current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</nav>

			<!-- Navigation Tabs -->
			<nav class="tabs">
				<div class="tab-container">
					<ul>
						<li class="current"><a href="#"><span>1</span> </a></li>
						<li><a href="#"><span>2</span> </a></li>
						<li><a href="#"><span>3</span> </a></li>
						<li><a href="#"><span>4</span> </a></li>
						<li><a href="#"><span>5</span> </a></li>
					</ul>
				</div>
			</nav>
		</div>

		<!-- JavaScripts -->
		<script type="text/javascript" src="js/sleekslider.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
      <!--welcome-->
 </div>

        <!-- /Line Slider -->
	</div>
    <!--footer-->
	
		<!-- Services -->
		<div class="services" id="services">
			<div class="container">

				<div class="inner-w3">
					    <div class="sub-hd">
						<h3 class="tittle"><font style="font-family:Bookman Old style";><b> </b><span font style="font-family:Bookman Old style";><b><font color="red">ABOUT US</font></b></span></h3>
					</div>
					</div>
				 
				<div class="inner_tabs">
				   <h3 class="tittle"><font style="font-family:Bookman Old style";><b> </b><span font style="font-family:Bookman Old style";><b><font color="black">WELCOME TO PATREC CHAIN</font></b></span></h3>
					<p class="sub-para">PATREC is a BLOCKCHAIN based extended Electronic Health Record(EHR)
that facilitates intuitive formatting and enhanced interaction of health records that can be transferred among health centers.
We aim at placing the patient in control of their medical data, giving them the power to share the single most,comprehensive version of their record. </p>
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						&nbsp
						<ul id="myTab" class="nav nav-tabs" role="tablist">
						    
							&nbsp<li role="presentation"><a href="/domain" role="tab" id="tours-tab"  aria-controls="tours" font style="font-family:Helvetica">   Sign In  </a></li>
							&nbsp<li role="presentation"><a href="/signup" role="tab" id="tree-tab" aria-controls="tree" font style="font-family:Helvetica">    Sign Up   </a></li>
							&nbsp<li role="presentation"><a href="/organ" role="tab" id="safari-tab"  aria-controls="safari" font style="font-family:Helvetica">Get Donar Card</a></li>
							&nbsp<li role="presentation"><a href="/viewmore" role="tab" id="trekking-tab" aria-controls="trekking" font style="font-family:Helvetica">Insurance</a></li>
							&nbsp<li role="presentation"><a href="" role="tab" id="trekking-tab"  aria-controls="trekking" font style="font-family:Helvetica">Outreach</a></li>
						</ul>
					</div>
					</div>
					</div>
					</div>	
							
		 <!--//Services--> 
		<!--medicinal-->
			<div class="medicinal-w3">
				<div class="container">
				    <div class="sub-hd">
						<h3 class="tittle two" font style="font-family:Bookman Old style">OUR <span>SERVICES</span></h3>
					</div>
					<div class="medicinal-w3-grids one">
						<div class="col-md-6 medicinal-w3-grid">
							<div class="col-md-8 medicinal-w3-left">
								<h4>QUALITY OF CARE AND ASSISTANCE</h4>
								<p>high level encryption facilitates more security theeby rendering malthreats of any kind. domain level assistance offers more flexibility.</p>
							</div>
							<div class="col-md-4 medicinal-w3-right">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
									<a href="#" class="hi-icon icon1"></a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-6 medicinal-w3-grid">
							<div class="col-md-4 medicinal-w3-right">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
									<a href="#" class="hi-icon icon2"></a>
								</div>
							</div>
							<div class="col-md-8 medicinal-w3-left1">
								<h4>DECISION SUPPORT SYSTEM</h4>
								<p>to compensate the effect of human error, the decision making is supplemented by computer aided automation. </p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="medicinal-w3-grids">
						<div class="col-md-6 medicinal-w3-grid">
							<div class="col-md-8 medicinal-w3-left">
								<h4>AUTOMATIC DATA ENTRY</h4>
								<p>manual data entry can be a  bottleneck and harm important clinical details. data entry automation can help the deild eliminate such bottlenecks and automte entire workflow. </p>
							</div>
							<div class="col-md-4 medicinal-w3-right">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
									<a href="#" class="hi-icon icon3"></a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="col-md-6 medicinal-w3-grid">
							<div class="col-md-4 medicinal-w3-right">
								<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
									<a href="#" class="hi-icon icon4"></a>
								</div>
							</div>
							<div class="col-md-8 medicinal-w3-left1">
								<h4>SECURITY</h4>
								<p>the entire system is under the access of the patient, thereby offering full domain access and encryption. </p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		
			<!--medicinal
			<div class="grid_2" id="tender">
   	 <div class="container">
	       <div class="sub-hd">
						<h3 class="tittle">SUCCESSFUL <span>STORIES</span></h3>
					</div>
   	  <div class="box_1 one">
   	 	<div class="col-md-6">
   	 	       <div class="col_1_of_2 span_1_of_2 multi-gd-text">
				   <a href="single.html"><img src="images/n1.jpg" class="img-responsive" alt=""></a>
				   <div class="story_desc">
				   	  <h3>Mark McRoberts</h3>
				   	  <p>New York</p>
				   </div>
 				</div>
				<div class="col_1_of_2 span_1_of_2">
				   <h4>Volunteer Firefighter Threatened By Tongue Tumor</h4>
				   <p class="p1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim venia.</p>
 				</div>
				<div class="clearfix"></div>
		</div>
   	 	<div class="col-md-6">
   	 	      <div class="col_1_of_2 span_1_of_2 multi-gd-text">
				   <a href="single.html"><img src="images/n5.jpg" class="img-responsive" alt=""></a>
				   <div class="story_desc">
				   	  <h3>Mark McRoberts</h3>
				   	  <p>New York</p>
				   </div>
 				</div>
				<div class="col_1_of_2 span_1_of_2">
				   <h4>Volunteer Firefighter Threatened By Tongue Tumor</h4>
				   <p class="p1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim venia.</p>
 				</div>
				<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
   	  </div>
   	  <div class="box_2">
   	 	<div class="col-md-6">
   	 	       <div class="col_1_of_2 span_1_of_2 multi-gd-text">
				   <a href="single.html"><img src="images/n3.jpg" class="img-responsive" alt=""></a>
				   <div class="story_desc">
				   	  <h3>Mark McRoberts</h3>
				   	  <p>New York</p>
				   </div>
 				</div>
				<div class="col_1_of_2 span_1_of_2">
				   <h4>Volunteer Firefighter Threatened By Tongue Tumor</h4>
				   <p class="p1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim venia.</p>
 				</div>
				<div class="clearfix"></div>
		</div>
   	 	<div class="col-md-6">
   	 	      <div class="col_1_of_2 span_1_of_2 multi-gd-text">
				   <a href="single.html"><img src="images/n4.jpg" class="img-responsive" alt=""></a>
				   <div class="story_desc">
				   	  <h3>Mark McRoberts</h3>
				   	  <p>New York</p>
				   </div>
 				</div>
				<div class="col_1_of_2 span_1_of_2">
				   <h4>Volunteer Firefighter Threatened By Tongue Tumor</h4>
				   <p class="p1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim venia.</p>
 				</div>
				<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
   	  </div>
   	 </div>
   </div>
-->
		<!--//team-->
			<!---news-->
						<div class="review-slider">
		<div class="sub-hd">
						<h3 class="tittle" font style="font-family:Verdana">OUR LATEST <span font style="font-family:Verdana">NEWS</span></h3>
					</div>
								 <ul id="flexiselDemo1">
								<li>
									<a href="https://www.healthcareitnews.com/news/taking-cybersecurity-notch-4-steps-shut-down-threats"><img src="https://www.healthcareitnews.com/sites/hitn/files/SecurityHITN_1.jpg" alt="" height="430" width="380"/></a>
									<div class="slide-title"><h4>HEALTHCARE It NEWS </div>
									<div class="prom-bottom">
									<div class="prom-left">
										<h5>Dec 18</h5>
									</div>
									<div class="prom-right">
									<h5> 2019 </h5>
									</div>
									<div class="clearfix"></div>
								</div>
								</li>
								<!--<li>
									<a href="https://www.adsc.com/blog/bid/237906/How-Surgery-Can-Benefit-From-EHR"><img src="http://www.diabetesforecast.org/2015/may-jun/images/tablet-computer-health-records-May15.jpg" alt="" height="430" width="380"/></a>
									<div class="slide-title"><h4></h4></div>
									<div class="prom-bottom">
									<div class="prom-left">
										<h5>Dec 18</h5>
									</div>
									<div class="prom-right">
									<h5> 2019 </h5>
									</div>
									<div class="clearfix"></div>
								</div>
								</li>-->
								<li>
									<a href="https://khn.org/news/death-by-a-thousand-clicks/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkud2SHm2q8bTTKiZLrIVBUw4UCW8_9g-wCe59p6wQHzJgh2gR&s" alt="" height="430" width="380"/></a>
									<div class="slide-title"><h4>PATIENT FLEXIBLE</h4></div>
									<div class="prom-bottom">
									<div class="prom-left">
										<h5>Dec 17</h5>
									</div>
									<div class="prom-right">
									<h5> 2019 </h5>
									</div>
									<div class="clearfix"></div>
								</div>
									
								</li>
								<li>
									<a href="https://ehrintelligence.com/"><img src="https://ehrintelligence.com/images/site/article_headers/_small-crop/patient_reported_outcomes_measures.jpg" alt="" height="430" width="380"/></a>
									<div class="slide-title"><h4>MEDICAL OUTCOMES</h4></div>
									<div class="prom-bottom">
									<div class="prom-left">
										<h5>Dec 17</h5>
									</div>
									<div class="prom-right">
									<h5> 2019 </h5>
									</div>
									<div class="clearfix"></div>
								</div>
									
								</li>
								<li>
									<a href="https://www.practicefusion.com/health-informatics-practical-guide-page-1/"><img src="https://www.practicefusion.com/assets/images/pages_wp/Figure-4.2-outpatient-paper-based-patient-encounter-form.png" alt="" height="430" width="380"/></a>
									<div class="slide-title"><h4>GO PAPERLESS </h4></div>
									<div class="prom-bottom">
									<div class="prom-left">
										<h5>Dec 16</h5>
									</div>
									<div class="prom-right">
									<h5> 2019 </h5>
									</div>
									<div class="clearfix"></div>
								</div>
									
								</li>
								<li>
									<a href="https://fortune.com/2019/03/18/healthcare-ehr-brainstorm-health/"><img src="http://www.diabetesforecast.org/2015/may-jun/images/tablet-computer-health-records-May15.jpg" alt="" height="430" width="380"/></a>
									<div class="slide-title"><h4>BRAINSTORM IN MEDICAL </h4></div>
									<div class="prom-bottom">
									<div class="prom-left">
										<h5>Dec 15</h5>
									</div>
									<div class="prom-right">
									<h5> 2018 </h5>
									</div>
									<div class="clearfix"></div>
								</div>
									
								</li>
								<!--<li>
									<a href="single.html"><img src="images/n6.jpg" alt=""/></a>
									<div class="slide-title"><h4>LOREM IPSUM DOLOR </h4></div>
									<div class="prom-bottom">
									<div class="prom-left">
										<h5>Dec 19</h5>
									</div>
									<div class="prom-right">
									<h5> 2019 </h5>
									</div>
									<div class="clearfix"></div>
								</div>
									
								</li>-->
							</ul>
							<script type="text/javascript">
						$(window).load(function() {
							
						  $("#flexiselDemo1").flexisel({
								visibleItems:4,
								animationSpeed: 1000,
								autoPlay: true,
								autoPlaySpeed: 3000,    		
								pauseOnHover: false,
								enableResponsiveBreakpoints: true,
								responsiveBreakpoints: { 
									portrait: { 
										changePoint:480,
										visibleItems: 2
									}, 
									landscape: { 
										changePoint:640,
										visibleItems: 3
									},
									tablet: { 
										changePoint:800,
										visibleItems: 4
									}
								}
							});
							});
						</script>
						<script type="text/javascript" src="js/jquery.flexisel.js"></script>	
				</div>		
   <!--//news-->
   

   <!--/reviews-->
	
	<!--//reviews-->
	<!--/start-footer-section
			<div class="footer-section">
				<div class="container">
					<div class="footer-grids wow bounceIn animated" data-wow-delay="0.4s">
						<div class="col-md-3 footer-grid">
						<h4>About <span>Medicinal</span></h4>
						<div class="border2"></div>
						  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
						  <p class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
						</div>
						<div class="col-md-3 footer-grid tags">
								<h4>The <span>Tags</span></h4>
								<div class="border2"></div>
							<ul class="tag">
								<li><a href="#">Awesome</a></li>
								<li><a href="#">Strategy</a></li>
								<li><a href="#">Photography</a></li>
								<li><a href="#">Development</a></li>
								<li><a href="#">Css</a></li>
								<li><a href="#">photoshop</a></li>
								<li><a href="#">Html</a></li>
								<li><a href="#">Awesome</a></li>
								<li><a href="#">Strategy</a></li>
								<li><a href="#">Photoshop</a></li>
								<li><a href="#">Html</a></li>
							</ul>
						</div>
						<div class="col-md-3 footer-grid tweet">
								<h4>Latest <span>Tweets</span></h4>
								<div class="border2"></div>
								<div class="icon-3-square">
										<a href="#"><i class="square-3"></i></a>
									</div>
							<div class="icon-text">
								<p>I like this awesome freebie. Check it out By <a href="#"> Admin </a></p>
								<h5>15 mins ago</h5>
							</div>
								<div class="clearfix"></div>
								<div class="icon-3-square">
										<a href="#"><i class="square-3"></i></a>
								</div>
								<div class="icon-text">
								    <p>I like this awesome freebie. Check it out  By <a href="#"> Admin </a> </p>
									<h5>15 mins ago</h5>
								</div>
								<div class="clearfix"></div>
						</div>
						<div class="col-md-3 footer-grid flickr">
								<h4>Flickr <span>Feed </span></h4>
								<div class="border2"></div>
								<div class="flickr-grids">
										<div class="flickr-grid">
											<a href="#"><img src="images/t1.jpg" alt=" " title="CEO" /></a>
										</div>
										<div class="flickr-grid">
											<a href="#"><img src="images/t2.jpg" alt=" " title="GM" /></a>
										</div>
										<div class="flickr-grid">
											<a href="#"><img src="images/t3.jpg" alt=" " title="CEO" /></a>
										</div>
										<div class="clearfix"> </div>
										
										<div class="flickr-grid">
											<a href="#"><img src="images/t2.jpg" alt=" " title="GM" /></a>
										</div>
										<div class="flickr-grid">
											<a href="#"><img src="images/t3.jpg" alt=" " title="CEO" /></a>
										</div>
										<div class="flickr-grid">
											<a href="#"><img src="images/t1.jpg" alt=" " title="GM" /></a>
										</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
			</div>
		</div>
	//end-footer-section-->
	<!--//footer-->
	<div class="footer-bottom">
		<div class="container">
			 <p>© 2019 Patrec. All rights reserved | Presented by Refactor
		</div>
	</div>
		<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
								<!--end-smooth-scrolling-->
		<a href="#house" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script src="js/bootstrap.js"></script>

</body>
</html>